.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #fff;
    }

    p {
      font-size: 14px;
      color: #bbb;
    }

    ul {
      list-style-type: none; /* Remove bullet points */
      padding: 0;
      display: flex; /* Set list to flex to align items in a row */
      flex-wrap: wrap; /* Wrap items to next line if space is insufficient */
      gap: 10px; /* Add gap between links for better separation */
    }

    a {
      color: #1e90ff; /* Change link color to blue */
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 20px; /* Space between icons */
      margin-top: 10px;

      a {
        color: #bbb;

        &:hover {
          color: #fff;
        }

        svg {
          transition: color 0.3s;
        }
      }
    }

    .fa-linkedin {
      color: #0077b5; /* LinkedIn blue color */
    }

    .fa-github {
      color: #f5f5f5; /* Change GitHub icon color to light grey */
    }

    .fa-envelope {
      color: #d44638; /* Gmail color */
    }

    .fa-instagram {
      color: #c13584; /* Instagram color */
    }
  }

  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
}


