.header {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-around;
  position: fixed; /* Make the header fixed */
  top: 0; /* Position at the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays on top */
}

.profile-picture {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 75%;
  object-fit: cover;
  margin-right: 20px; /* Adjust spacing as needed */
}

.header-button {
  color: white;
  background-color: #555;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.header-button:hover {
  background-color: green; /* Change color to green on hover */
}


  