.hobbies-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.hobbies-description {
  margin-bottom: 20px;
}

.hobbies-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hobby-image {
  width: 33.3333%; /* Ensure images take up equal width within the row */
  border-radius: 0; /* Remove border-radius to make images touch each other */
  box-shadow: none; /* Remove box-shadow */
  transition: transform 0.3s;
}

.hobby-image:hover {
  transform: scale(1.05);
}


  
  